body {
	background-image: linear-gradient(#f2efe1, #fff);
	background-repeat: no-repeat;
	background-size: 100% 2000px;
}

.ui.items.segment,
.ui.card  {
	background-color: rgba(250, 250, 250, 0.2);
}

.ui.card.centered {
	margin-bottom: 0px;
}

.link-icons {
	height: 20px;	
	transform: translate(0,.21em);
}

.wiki-icon {
	height:22px;
}

img .lastfm-icon {
	font-size: 20px;
}